@import url("./_normalize.css");
@import url("./_vars.css");

* {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font-family);
  background-color: var(--background-color);
  color: var(--main-font-color);
  margin: 0;
  padding: 0;
  font-weight: 400;
}

img {
  width: 100%;
}

.content {
  margin: 0 auto;
}

.container {
  padding: 0 120px;
}

/* HEADER, FOOTER LAYOUT*/

header .container {
  margin: 17px 0;
}

header .container,
footer .container {
  display: flex;
  justify-content: space-between;
}

footer .container {
  padding-top: 70px;
  padding-bottom: 70px;
  align-items: flex-start;
}

footer .container > * {
  flex: 1;
}

footer {
  border-top: 1px solid rgba(188, 208, 229, 0.496913);
}

.logo {
  max-width: 200px;
}

/* MAIN LAYOUT */

section,
article {
  margin: 100px 0;
}

section:first-of-type {
  margin-top: 70px;
}

.hero {
  display: flex;
  gap: 56px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
}

.hero-img {
  width: 55%;
}

.bg-wrapper {
  background-image: url("../assets/img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 74px;
}

.tools {
  display: flex;
  gap: 45px;
}

.tools-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tools-img img {
  height: 50px;
}

article {
  display: flex;
  justify-content: space-between;
}

article:nth-child(even) .article-text {
  order: 2;
}

article:nth-child(even) .article-img {
  order: 1;
}

.article-text {
  width: 40%;
}

.article-img {
  width: 45%;
}

/* LISTS */

ul {
  list-style-type: none;
  padding-left: 0;
}

nav ul {
  display: flex;
  gap: 20px;
}

li a {
  text-decoration: none;
  color: var(--second-font-color);
  font-size: 1rem;
  font-weight: 400;
  transition: all 200ms ease-in-out;
}

li a:hover,
li a:active {
  color: var(--main-color);
}

.product-managers-list li {
  margin-top: 30px;
}

.product-managers-list-item {
  display: flex;
  gap: 30px;
}

.product-managers-list-item img {
  width: 35px;
}

footer ul {
  margin: 30px 0 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

footer ul li {
  line-height: 162%;
}

/* BUTTONS */

button {
  padding: 12px 0;
  background-color: var(--main-color);
  color: #fff;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

button:hover,
button:focus-visible {
  outline: none;
  color: var(--main-font-color);
  background-color: transparent;
  border-color: #bcd0e5;
}

header button {
  font-family: var(--main-font-family);
  width: 110px;
  font-weight: 600;
  line-height: 125%;
}

header button:first-child {
  margin-right: 32px;
}

.hero button,
.tools + button,
footer button {
  display: block;
  width: 180px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  font-family: "Poppins", sans-serif;
}

.tools + button {
  display: block;
  margin: 70px auto 0;
}

/* FORMS */

.phone-form {
  display: flex;
  flex-direction: column;
}

.phone-form input {
  margin: 25px 0;
  width: 100%;
  padding: 15px 10px;
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 1rem;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  color: var(--main-font-color);
}

.phone-form input::placeholder {
  color: #bcd0e5;
}

.phone-form input:focus-visible {
  outline: none;
  border-color: var(--main-font-color);
}

/* TYPOGRAPHY */

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 123%;
}

h1 {
  font-size: 2.75rem;
  margin: 0 0 30px;
}

h2.tools-heading {
  font-size: 2.25rem;
  margin: 0 auto 50px;
  text-align: center;
  max-width: 539px;
}

.article-text > h2 {
  text-align: left;
  margin-bottom: 20px;
}

h3 {
  font-weight: 600;
  margin: 30px 0 16px;
}

h4 {
  line-height: 150%;
  margin: 0;
}

h5 {
  font-weight: 700;
  line-height: 162%;
  font-size: 1rem;
  margin: 30px 0 10px;
}

p,
span {
  color: var(--par-font-color);
  font-size: 1rem;
  font-weight: 500;
  line-height: 162%;
  margin: 0;
}

.hero p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 156%;
  margin: 0 0 20px 0;
}

.article-text > p {
  margin-bottom: 40px;
}
